/* Se le d un margen a la imagen del logo en el nav */
.imagen{
    margin-left: 60px;
}

/* margen para la lista ul */
ul{
    margin-right: 170px;
}
/* color para las letras del nav*/
.nav-item{
    color: #fff; 
}

/* que lso parrafis de quienes somos tenga align a la izquierda*/
.text-izq{
    text-align: left;
}

/* Asignacion de tipos de letras estilos y demas*/
h1{
    font-family: 'EB Garamond Medium';
    font-style: oblique;
    font-weight: 500;
    
}

h5{
    font-family: 'Roboto Light';
    font-style: normal;
    font-weight: 400;
}

h3{
    font-family: 'Roboto Medium';
    font-style: italic;
    font-weight: 400;
}